<div class="w3-top w3-blue">
  <div class="container">
    <div class="w3-bar">
      <a href="/" id="brand-name" class="w3-bar-item">BookTrading</a>
      <a href="/all_books" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-gray">All Books</a>
      <% if(!isAuthenticated) { %>
        <a href="/signup" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Sign Up</a>
        <a href="/login" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Log In</a>
      <% } else { %>
        <a href="/my_books" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-gray">My Books</a>
        <a href="/trade" id="trade-menu-item" class="w3-bar-item w3-button w3-padding-16 w3-hover-light-gray">Trade</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Log Out</a>
        <a href="/settings" class="w3-bar-item w3-button w3-padding-16 w3-right w3-hover-light-gray">Settings</a>
        <span id="greeting" class="w3-bar-item w3-right">Hello, <%= user.name %></span>
      <% } %>
    </div>
  </div>
</div>



       